
<div class="row-nav row justify-content-between">
  <div class="nav col-6 ms-4">
    <ul class="nav nav-pills">   
      <li *ngFor="let action of actions">
        <button
          (click)="setCurrentAction(action)"
          routerLink="{{action.route}}"
          [class]="action==currentAction?'btn btn-success mx-2':'btn btn-outline-success mx-2'"
        > 
          {{action.titl}}
          <i class="bi bi-{{action.icon}}"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="search d-flex col-3">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success ms-2" type="submit">Search</button>
  </div>
  <div class="sign col-1">
    <i class="icon bi-person-circle h4 opacity-75 text-success text-capitalize me-2"><span class="fs-6 ms-2">Log In</span> </i>
  </div>
</div>
<div class="spacement mt-5">
<router-outlet class="mt-5">

</router-outlet> 
</div>